{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Webref</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
 <!--  <link href="{% static 'main_app/img/favicon.png' %}" rel="icon"> -->
  <link href="{% static 'main_app/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'main_app/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'main_app/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_app/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_app/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_app/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_app/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'main_app/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">WebRef</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'check-reference' %}">Check Reference</a></li>
          <!--<li><a href="#team">Team</a></li>
          <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'main_app/img/intro-carousel/web-ref.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h3>Secure your private information by generating a reference number.</h3>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section><!-- #intro -->

  

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>WebRef</h3>
            <p>In this day and age, giving out sensive information can be very dangerous
              especially online. A person's ID number can be stolen and be used for activities
              the owner is not aware of. Web Ref is here to help with that.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'index' %}">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'login' %}">Login</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'register' %}">Register</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'check-reference' %}">Check reference</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              28 Maddison Street<br>
              Sophisticated Town<br>
              Johannesburg <br>
              <strong>Phone:</strong> +27 59 488 5545<br>
              <strong>Email:</strong> mk@webref.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Please subscribe below to our news letter to get access to latest information about our application.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>WebRef</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->       
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'main_app/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main_app/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'main_app/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main_app/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'main_app/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'main_app/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'main_app/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'main_app/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'main_app/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'main_app/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'main_app/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main_app/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'main_app/lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'main_app/js/main.js' %}"></script>

</body>
</html>
